body {
    max-width: 1300px;
    margin: 0 auto;
}

.visuallyHidden {
    position: absolute;

    margin: -1px;
    padding: 0;

    border: 0;
    width: 1px;
    height: 1px;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    width: 100%;
    height: 566px;

    position: relative;

    background: url('./assets/mainBackground.png') no-repeat;
    z-index: 20;

    box-sizing: border-box;
    padding: 27px 140px 0px 150px;
}

.header:after {
    content: "";
    background: url('./assets/noise-pattern-with-subtle-cross-lines.png') repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
    z-index: -1; 
}

.headerWrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 56px;
}

.logoWrapper {
    display: flex;
    align-items: center;

    position: relative;
}

.logoWrapper > img:nth-child(2) {
    position: absolute;
    top: 2px;
    left: 2px;

    margin-right: 10px;
}

.logoWrapper > span {
    font-size: 44px;
    color: white;

    margin-left: 10px;
}

.navigationMenu {
    display: flex;
    align-items: flex-end;

    position: relative;
}

.navigationList {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;

    width: 454px;
    height: 41px;

    background: #f5c506;
    color: #b99403;
}

.navigationList > div {
    width: 454px;
    height: 41px;

    position: absolute;

    background: #f5c506;
    opacity: 0.5;
}

.navigationMenu div:nth-child(1) {
    top: -5px;
    left: -5px;
    z-index: -9;
}

.navigationMenu div:nth-child(2) {
    top: -10px;
    left: -9px;
    z-index: -10;
}

.navigationList li {
    list-style: none;
}

.headerSection {
    display: flex;
    position: relative;
}

.videoWrapper {
    position: relative;
}

.playBtn {
    width: 67px;
    height: 67px;

    border-radius: 50%;
    background: #b99403;
    opacity: 0.7;

    position: absolute;
    top: 125px;
    left: 243px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.playBtn svg {
    padding-left: 6px;
}

.playBtn2 {
    width: 27px;
    height: 27px;

    background: #816614;
    opacity: 0.8;

    text-align: center;
    padding-top: 4px;
    padding-left: 2px;
    box-sizing: border-box;
}

.videoBar {
    width: 404px;
    height: 12px;

    background: #f5c507;
    opacity: 0.7;

    position: relative;

    border-radius: 10px;
}

.videoBarPlayed {
    width: 179px;
    height: 12px;

    background: #f5c507;
    position: absolute;
    top: 7px;
    left: 78px;

    border-radius: 10px 0px 0px 10px;
}

.playElWrapper {
    width: 549px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 27px;
    left: 0px;
}

.videoTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 52px;

    text-align: center;
    font-size: 50px;
    color: white;
}

.videoTitle p {
    margin: 0;
}

.videoTitle p:nth-child(1) {
    color: #f5c506;
}

.sliderArrows {
    width: 32px;
    height: 57px;

    background: #caa50c;
}

.leftArrow {
    position: absolute;
    bottom: 140px;
    left: -150px;

    padding: 14px 5px;
    box-sizing: border-box;
}

.rightArrow {
    position: absolute;
    bottom: 140px;
    right: -140px;

    padding: 14px 8px;
    box-sizing: border-box;
}

/* advatnage section - section 2 */

.advantagesWrapper {
    width: 100%;

    padding: 0px 140px;
    box-sizing: border-box;
}

.advantagesList {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    margin: 0;
    padding: 0;
    min-height: 212px;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33.33%;
}

.firstBlock::before {
    content: '';

    position: absolute;
    top: -1px;
    left: -1px;

    width: 1px;
    height: 212px;
    background: #cfcfcf;
}

.secondBlock::before {
    content: '';

    position: absolute;
    top: -1px;
    right: 340px;

    width: 1px;
    height: 212px;
    background: #cfcfcf;
}

.secondBlock::after {
    content: '';

    position: absolute;
    top: -1px;
    right: 339px;

    width: 1px;
    height: 212px;
    background: #cfcfcf;
}

.thirdBlock::after {
    content: '';

    position: absolute;
    top: -1px;
    right: -1px;

    width: 1px;
    height: 212px;
    background: #cfcfcf;
}